<div class="gap-left-top-right">
    <mat-card class="margin-bottom">
                <mat-card-header>
                    <div><mat-card-title>Courses</mat-card-title></div>
                        <span class="fill-remaining-space"></span>
                    <button mat-fab color="primary">Add</button>
                </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Software</mat-card-title>
            <mat-card-subtitle>AWS</mat-card-subtitle>
        </mat-card-header>
        <div class="e-avatar e-avatar-small">
            <img src="assets/img/avatar_user.png"/>
        </div>
        <!--
        <img matCardImage class="e-avatar e-avatar-small" src="assets/img/avatar_user.png">
        -->
        <mat-card-content>
            Courses available in various fields. Sign up and learn
        </mat-card-content>
        <mat-card-actions align="start">
                <button mat-fab color="primary">Learn</button>
            <!--        
            <button style="background:magenta" mat-button (click)="onAction1">Learn</button>
            -->

        </mat-card-actions>
        <mat-card-footer>

        </mat-card-footer>
    </mat-card>
</div>