<div class="gap-left-top-right">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Home</mat-card-title>
                <mat-card-subtitle>justmehr website</mat-card-subtitle>
            </mat-card-header>
            <div class="e-avatar e-avatar-small">
                <img src="assets/img/avatar_user.png"/>
            </div>
            <!--
            <img matCardImage class="e-avatar e-avatar-small" src="assets/img/avatar_user.png">
            -->
            <mat-card-content>
                Many more features coming up.. Sign up and learn
            </mat-card-content>
            <mat-card-actions align="start">
                    <button mat-fab color="primary">Learning!</button>
                <!--        
                <button style="background:magenta" mat-button (click)="onAction1">Learn</button>
                -->
    
            </mat-card-actions>
            <mat-card-footer>
    
            </mat-card-footer>
        </mat-card>
    </div>